body
{ 
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}
 
#container
{
width: 1000px;
margin-left: auto;
margin-right: auto;

}

#logo
{
 color:white;
 margin-top: 20px;
 font-size: 44px;
 letter-spacing: 3px;
 font-weight: 900;
}
    

#menu
{
   background-color: #303030; 
   margin-top: 20px;
   color: white;
   padding: 10px;
   
}

.option
{
    float:left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted yellow;
    opacity: 0.8;
}

.option:hover
{
background-color: black;
cursor: pointer;


}


#topbar
{
    background-color: #128870;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170;
}

#topbarL
{
    float: left; 
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px dotted #cccccc;

}

img
{
    width: 140px;
    height: 170px;
}

#topbarR
{
float: left;
padding: 20px;
width: 760px;
font-size: 16px;
text-align: justify;
}

#sidebar
{
    float: left;
    width: 150px;
    min-height: 620px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    border-right: 2px dotted #666666;
}

.optionL
{
font-size: 18px;
height: 26px;
padding: 15px;
border-bottom: 2px dotted #444444;
}

.optionL:hover
{
background-color: #f36742;
color: white;
cursor: pointer;



}


#content
{
    float: left;
    padding: 40px;
    width: 728px;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}

#footer
{
    clear: both;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.bigtitle
{
    font-weight: 900px;
    font-size: 32px;
    letter-spacing: 2px;
}
.dottedline
{
height: 5px;
margin-top: 15px;
margin-bottom: 20px;
border-bottom: 2px dotted #444444;

}